*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    text-align: center;
}
div  #list{
    background-color: rgb(243, 216, 165);
    margin: auto;
    border-radius: 10px;
}
div  #list li{
    display: inline-block;
    height:30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
    border: solid 1px orange;
    color:orange;
    text-align: center;
    line-height: 30px;
    background-color: white;

}
div  #list li:hover{
    background-color: orange;
    color: white;
    cursor: pointer;
}
#done:hover{
    cursor: pointer;
}